.dir-list-container .download-column {
    max-width:100px;
    width:100px;
}

.dir-list-container .extract-column {
    max-width:100px;
    width:100px;
}

.dir-list-container .extract-btn {
    width: 100%;
}

.dir-list-container .glyphicon {
    padding-right: 5px;
}

.dir-list-container .glyphicon-folder-close {
    color: goldenrod;
}

.dir-list-container .glyphicon-file {
    color: cornflowerblue;
}

