<!doctype html>
<html lang="en">
<head>
    <title>Dirlist</title>

    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/ngToast/ngToast.css">
    <link rel="stylesheet" href="../libraries/ngToast/ngToast-animations.css">

    <link rel="stylesheet" href="../styles/dirList.css">
    <link rel="stylesheet" href="../styles/animations.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.6.0/js/md5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-sanitize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- build:js app.min.js -->
    <script src="../libraries/ngToast/ngToast.js"></script>
    <script src="../scripts/dirApp.js"></script>
    <script src="../scripts/dirController.js"></script>
    <!-- /build -->

    <meta charset="utf-8">
</head>

<body ng-app="dirApp" class="ng-cloak">
<div class="container dir-list-container" ng-controller="dirController as ctrl">

    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <tr class="table-row" ng-repeat="path in ctrl.data | filter: { visible: true }">
                    <td ng-if="path.type === 'DIRECTORY'">
                        <span style="padding-left: {{25*path.depth}}px"
                              class="glyphicon glyphicon-folder-close"></span>
                            <a style="font-weight: bold;" href="#" ng-click="list(path)">{{path.name}}</a>
                        <!--</span>-->
                    </td>
                    <td ng-if="path.type === 'FILE'">
                        <span style="padding-left: {{25*path.depth}}px" class="glyphicon glyphicon-file"></span>
                            <a ng-href="{{path.dlUrl}}" target="_blank">{{path.name}}</a>
                        <!--</span>-->
                    </td>

                    <td class="extract-column">
                        <div ng-show="path.extractionSupported">
                            <button class="extract-btn btn btn-primary btn-xs"
                                    ng-show="this['extractionStatus_' + path.id] === 'ready-to-extract'"
                                    ng-click="extract(path)">Extract
                            </button>
                            <div class="progress" ng-show="this['extractionStatus_' + path.id] === 'in-progress'">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                     role="progressbar"
                                     aria-valuenow="{{this['extractionProgress_' +  path.id]}}"
                                     aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{this['extractionProgress_' +  path.id]}}%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>

                            <button class="extract-btn btn btn-success btn-xs"
                                    ng-show="this['extractionStatus_' + path.id] === 'extracted'" disabled >Extracted
                            </button>
                        </div>
                    </td>
                    <td class="download-column text-center">
                        <a ng-href="{{path.dlUrl}}" target="_blank">Download</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>